* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html, body {
    height: 100%;
    width: 100%;
}

#frstdive {
    height: 100vh; /* Takes full viewport height */
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

#btn {
    padding: 10px 20px; /*Adjust padding to control the button's size*/
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #007bff; /* Optional: background color for the button */
    color: white; /* Optional: text color */
    border: none; /* Optional: remove default border */
    border-radius: 5px; /* Optional: add rounded corners */
    cursor: pointer; /* Optional: change cursor to pointer on hover */
}
.clock-container {
    color: black !important;
     /* Set the color to black */
  }